@media screen and (max-width: 300px) {
    header .container {
        display: column;
    }
    .botao{
        margin-top: 5px;
        width: 300px;

    }
    .carrosel-filmes{
        height: 300px;
    }
}
@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }   
    
}